<div class="container">
  <h1>Pizza Calculator</h1>

  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button 
        (click)="addSet()"
        type="button" 
        class="btn btn-primary">Add Set</button>
      <hr>
      
<form [formGroup]="setForm">


  <div formArrayName="sets">
    <div class="row" 
      *ngFor="let set of setForm.get('sets').controls; let i = index"
      [formGroupName]="i">
      <div class="col-xs-3">
          <div class="form-group">
            <label name="size">Size (inches)</label>
            <input 
              formControlName="size"
              type="number"
              class="form-control"
            >
          </div>
      </div>
  
      <div class="col-xs-3">
          <div class="form-group">
            <label name="price">Price</label>
            <input
              formControlName="price"
              type="number"
              class="form-control"
            >
          </div>
      </div>
  
      <div class="col-xs-3">
          <div class="form-group">
            <label name="quantity">Quantity</label>
            <input 
              formControlName="quantity"
              type="number"
              class="form-control"
            >
          </div>
      </div>
  
      <div class="col-xs-2">
          <div class="form-group">
            <label name="pricePerInch">Price Per Inch</label>
            <br >
            <input
              formControlName="pricePerInch"
              type="number"
              readonly="true"
              class="form-control"
            >
              
          </div>
      </div>

      <div class="col-xs-1">
        <div class="form-group">
        <button 
          style="margin-top:25px;"
          (click)="deleteSet(i)"
          type="button"
          class="btn btn-danger">X</button>
        </div>
    </div>
    </div>
  </div>
    <hr>
  
    
    
  </form>
  
    </div>
  </div>
  
</div>
